/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$bgColor: #333;
$fontColorBlack: #111;
$fontColorLight: #e8e8e8;
$linearGradient: linear-gradient(
  45deg,
  rgba(34, 193, 195, 1) 0%,
  rgba(28, 27, 25, 1) 100%
);
$btnColor: #e8e8e8;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bgColor;
}
