:host {
  padding: 1rem;
  height: 100%;
}

.table-container {
  display: flex;
  min-height: 100%;
  gap: 30px;
  padding: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.table {
  height: 700px;
  min-height: 400px;
  min-width: 400px;
  max-width: 450px;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: #222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0.5em;
  background-color: #111;
  color: #e8e8e8;
  font-weight: bold;
  cursor: move;

  & mat-icon {
    justify-self: flex-end;
    &:hover {
      color: red;
    }
  }
}
