@import "/src/styles.scss";
h2 {
  text-align: center;
  color: $fontColorLight;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

button:disabled {
  display: none;
}

mat-form-field {
  margin-bottom: 20px;
}
