<div class="card-container">
  <div
    class="card"
    *ngFor="let project of projects"
    (click)="projectOptionsId = project.id"
  >
    <div class="content">
      <p class="heading">{{ project.name }}</p>
      <p class="para">
        {{ project.createdAt | date }}
      </p>

      <div class="btn-container">
        <button class="btn" (click)="onSeeDetails(project.id, $event)">
          See Details
        </button>
        <button class="btn" (click)="onProjectDelete(project.id, $event)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
